1) What are data structures and why are they important ?
   - Data structures are specialized formats for organizing, storing and acessing collections of data. They provide efficient ways to manage information based on it's characteristics and intended use.
    They are important because -
     a) Choosing the right data structure significantly impacts the efficeincy and performanc of the program.
     b) Well- chosen data structures can.
     c) Simplify data manipulation ( adding, removing, modifying elements).
     d) Optimize searching and sorting operations.
     e) Conserve memory usage.

2) Explain the difference between mutable and immutable data types with examples.
      - Mutable objects can be modified after they are created. Examples : list, dictionary,set.
      Immutable objects cannot be modified after they are created. Examples : String, tuple.

3) What are the main differences between lists and tuples in python ?
   - Lists are mutable and enclosed by "[ ]" whereas tuples are immutable and enclosed by "( )" .

4) Describe how dictionaries store data.
  - Dictionaries in python store data in the form of key-value pair.

5) Why might you use a set instead of a list in python ?
   - We might use a set instead of a list in python as set does not allow duplication of elements.

6) What is a string in python and how is it different from a list ?
   -  String in python is a sequence of character to represent and manipulated textual data. It is different from a list as string is immutable and not enclosed by square brackets.

7) How do tuples ensure data integrity in python ?
  - As tuples are immutable, so this characteristic of it ensures data integrity in python.

8) What is a hash table and how does it relate to dictionaries in python ?
  - A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots. It relates to dictionaries in python as dictionaries are implemented using hash tables.

9) Can lists contain different data types in python ?
   - Yes, list can contain different data types in python.

10) Explain why strings are immutable in python ?
   - Strings are immutable in python as after their creation , they cannot be changed. Immutablity helps with performance optimatization, memory efficiency and thread safety.

11) What advantages do dictionaries offer over lists for certain tasks ?
   - The advantages do dictionaries offer over lists for certain tasks as dictionaries store data in the form of key-value pair and also dictionaries are more readable and descriptive.

12) Describe a scenario where using a tuple would be prefferable over a list.
   - A tuple would be prefferable over a list as tuple is immutable , so it can be used when the data is constant and should not be accidently modified.

13) How do sets handle duplicate values in python ?
  - Sets in python handle duplicate values by automatically eliminate duplicate values as all elements in it must be unique.

14) How does the "in" keyword work differently for lists and dictionaries ?
    - The "in" keyword  for list checks if a value exits in the lists whereas "in" checks if a key exits in dictionary (not the value ).

15) Can you modify the elements of a tuple ? Explain why or why not.
   -  Elements of a tuple cannot be modify as tuple is immutable as once they are created , cannot be changed.

16) What is nested dictionary and an example of its use cases ?
    -  Nested dictionary means dictionary inside a dictionary.
     Example of it's use case-  pupil= {"user1":{"name":"A","age":20},"user2":{"name":"B","age":24}}

17) Describe the time complexity of accessing elements in the dictionary.
   - The time complexity of accessing elements in the dictionary is , on average,O(1)

18) In what situations are lists preffered over dictionaries ?
   - When data naturally fits a sequence ,where order and positional access are important and duplicates are acceptable, in this list is the preffered over dictionary.

19) Why are dictionaries considered unordered and how does that affect data retrieval ?
    - Dictionaries are considered unordered because items do not have a defined order, cannot refer to an item by using an index. We cannot retrieve the items by using integer indices like my_dict[0] , then we must know the exact key to retrive it's associated value. Data retrieval is inherently driven by the key.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list is an ordered collection of elements,where elements are accessed by using their index(position) and here time complexity is O(1) (constant time). A dictionary is an unordered collection of key-value pairs , where items are accessed using a unique key(not position) and here time complexity is on average is O(1).

In [ ]:
#1 Write a code to create a string with your name and print it

my_name = "Adnan"
print(my_name)

Adnan

In [ ]:
#2 Write a code to find the length of string " Hello World"

string = "Hello World"
len(string)

11

In [ ]:
#3 Write a code to slice the first three characters from the string " python programming"

a= "python programming"
a[:3]

'pyt'

In [ ]:
#4 Write a code to convert string "hello" to uppercase

b="hello"
b.upper()

'HELLO'

In [ ]:
#5 Write a code to replace the word 'apple' with 'orange' the string " I like apple"

Fruit = "I like apple"
Fruit.replace("apple", "orange")

'I like orange'

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it

num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append number 10 to the list [1,2,3,4]

num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove 3 from the list [1,2,3,4,5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access thye second element in the list ['a', 'b' ,'c' , 'd']

alpha = ['a', 'b' , 'c' , 'd']
alpha[1]

'b'

In [ ]:
#10 Write a code to reverse list [ 10,20,30,40,50]

list = [10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with elements 100,200,300 and print it

tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12 Write a code to access second to last element of the tuple ( 'red', 'green', 'blue', 'yellow')

color = ('red', 'green' , 'blue' ,'yellow')
color[1:]

('green', 'blue', 'yellow')

In [ ]:
#13 Write a code to find minimum number in tuple (10,20,5,15)

num = (10,20,5,15)
min(num)

5

In [ ]:
#14 Write a code to find the index of element 'cat' in tuple ('dog','cat','rabbit')

pet = ('dog','cat','rabbit')
pet.index('cat')

1

In [ ]:
#15 Write a code to create tuple containing three differnt fruits and check if 'kiwi' is in it

fruits =('apple','kiwi','orange')
'kiwi' in fruits

True

In [ ]:
#16 Write a code to create a set with elements 'a','b','c' and print it

set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [ ]:
#17 Write a code to clear all elements from the set {1,2,3,4,5}

s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#18 Write a code to remove the element 4 from set {1,2,3,4}

s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1,2,3} and {3,4,5}

s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

s1 = {1,2,3}
s2 ={2,3,4}
s1 & s2

{2, 3}

In [ ]:
#21 Write a code to create a dictionary with keys 'name','age' and 'city' and print it

dict ={"name":"John","age":22,"city":"Hyderabad"}
print(dict)

{'name': 'John', 'age': 22, 'city': 'Hyderabad'}

In [ ]:
#22 Write a code to add a new key-value "country":USA" to the dictionary {'name':'John','age':25}

dict = {'name':'John','age':25}
dict['country'] ='USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with key 'name' in the dictionary {'name':'Alice','age':30}

d = {'name':'Alice','age':30}
d.get('name')

'Alice'

In [ ]:
#24 Write a code to remove 'age' from dictionary {'name':'Bob','age':22,'city':'New York'}

detail = {'name':'Bob','age':22,'city':'New York'}
del detail['age']
print(detail)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25 Write a code to check if the key 'city' exits in dictionary {'name':'Alice','city':'Paris'}

d = {'name':'Alice','city':'Paris'}
'city' in d

True

In [ ]:
#26 Write a code to create list, tuple and dictionary and print them all

l = [1,2,3,4]
t = ('c','d','e','f')
d = {'course':'da','duration':'1 year'}
print(l)
print(t)
print(d)

[1, 2, 3, 4]
('c', 'd', 'e', 'f')
{'course': 'da', 'duration': '1 year'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order and print the result

l = [4,87,99,45,31]
sorted(l)

[4, 31, 45, 87, 99]

In [ ]:
#28 Write a code to create a list with strings and print element at the third index

l = ['city','state','country','continent','planet']
l[3]

'continent'

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result

d1 = {'name':'A','age':5}
d2 = {'city':'Cuttack','state':'Odisha'}
d1.update(d2)
print(d1)

{'name': 'A', 'age': 5, 'city': 'Cuttack', 'state': 'Odisha'}

In [ ]:
#30 Write a code to convert a list of strings into a set

veg = ['potato','brinjal','tomato','pumpkin','brinjal']
veg1 = set(veg)
veg1

{'brinjal', 'potato', 'pumpkin', 'tomato'}